<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Add</h2>
            <hr class="star-primary">
        </div>
    </div>
    <div class="row">
        <form ng-submit="saveParty()" class="party-form ng-scope ng-pristine ng-invalid ng-invalid-required" role="form">
          <div class="row">
          <div class="col-md-8 col-md-offset-2">    
            <div class="form-group ">
              <label class="sr-only" for="partyName">Name *</label>
              <input ng-model="newParty.name" type="text" class="form-control ng-pristine ng-invalid ng-invalid-required" id="partyName" placeholder="Name" required="">
            </div>
            <div class="form-group">
              <label class="sr-only" for="partyAddress">Address*</label>
              <input ng-model="newParty.address" type="text" class="form-control input-sm ng-pristine ng-valid" id="partyAddress" placeholder="Address" required>
            </div>  
            <div class="form-group">
              <label class="sr-only" for="partyCityTown">City/Town *</label>
              <select ng-model="newParty.city" class="form-control input-sm ng-pristine ng-invalid ng-invalid-required" required="">
                <option value="" disabled="" selected="">Choose City/Town</option>
                <option value="Ba">Ba</option>
                <option value="Labasa">Labasa</option>
                <option value="Lautoka">Lautoka</option>                
                <option value="Nadi">Nadi</option>                
                <option value="Savusavu">Savusavu</option>
                <option value="Suva">Suva</option>
              </select>
            </div>  
            <div class="form-group">
              <label class="sr-only" for="partyCategory">Category *</label>
              <select ng-model="newParty.category" class="form-control input-sm ng-pristine ng-invalid ng-invalid-required" required="">
                <option value="" disabled="" selected="">Choose Category</option> 
                <option value="Authorities">Authorities</option>
                <option value="Associations">Associations</option>
                <option value="Business">Business</option>
                <option value="Education">Education</option>
                <option value="Finance">Finance</option>
                <option value="Government and Diplomatic">Government and Diplomatic</option>
                <option value="Legal">Legal</option>
                <option value="Media">Media</option>        
                <option value="Non Profit">Non Profit</option>
                <option value="Public Service">Public Service</option>
                <option value="Restaurants and Bars">Restaurants and Bars</option>
                <option value="Retail">Retail</option>                                                    
                <option value="Other">Other</option>
              </select>
            </div>   

            <div class="form-group">
              <label class="sr-only" for="phoneNumber">Phone number</label>
              <input ng-model="newParty.phone" type="text" maxlength="7" class="form-control input-sm ng-pristine ng-valid" id="phoneNumber" placeholder="Phone" required>
            </div>

            <div class="form-group">
              <label class="sr-only" for="phoneNumber2">Phone number 2 </label>
              <input ng-model="newParty.phone2" maxlength="7" type="text" class="form-control input-sm ng-pristine ng-valid" id="phoneNumber2" placeholder="Another Phone No">
            </div>    

            <div class="form-group">
              <label class="sr-only" for="fax">Fax</label>
              <input ng-model="newParty.fax" type="text" maxlength="7" class="form-control input-sm ng-pristine ng-valid" id="fax" placeholder="Fax">
            </div>  

            <div class="form-group">
              <label class="sr-only" for="Email">Email</label>
              <input ng-model="newParty.email" type="text" class="form-control input-sm ng-pristine ng-valid" id="Email" placeholder="Email">
            </div>  
            <div class="form-group">
              <label class="sr-only" for="website">Website</label>
              <input ng-model="newParty.website" type="text" class="form-control input-sm ng-pristine ng-valid" id="website" placeholder="Website">
            </div>      
            <div class="form-group">
              <label class="sr-only" for="Public">Public holidays</label>
              <input ng-model="newParty.public" type="text" class="form-control input-sm ng-pristine ng-valid" id="Public" placeholder="Public Holidays">
            </div>
            <div class="form-group">
              <label class="sr-only" for="Tags">Tags</label>
              <input ng-model="newParty.tags" type="text" class="form-control input-sm ng-pristine ng-valid" id="Tags" placeholder="Tags: Nadi, resort, tourism, hospitality">
            </div>            
          </div><!-- / col-md-6 -->


          <div class="col-md-8 col-md-offset-2 timeframes">
            <div class="panel panel-default">
                <div class="panel-heading">Monday                                     
                    <label class="pull-right"><input ng-model="newParty.mon_closed" ng-init="checked=false" type="checkbox" class="ng-pristine ng-valid"> closed?</label>
                </div>
                <div class="panel-body">
                    <timepicker ng-model="newParty.mon_start" mousewheel="false" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" class="pull-left"></timepicker>
                    <timepicker ng-model="newParty.mon_end" mousewheel="false"hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" class="pull-left col-md-offset-2 "></timepicker>
                </div>
            </div>  
            <div class="panel panel-default">
                <div class="panel-heading">Tuesday                                    
                    <label class="pull-right"><input ng-model="newParty.tue_closed" ng-init="checked=false" type="checkbox" class="ng-pristine ng-valid"> closed?</label>
                </div>
                <div class="panel-body">
                    <timepicker ng-model="newParty.tue_start" mousewheel="false" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" class="pull-left"></timepicker>
                    <timepicker ng-model="newParty.tue_end" mousewheel="false" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" class="pull-left col-md-offset-2 "></timepicker>
                </div>
            </div>  
            <div class="panel panel-default">
                <div class="panel-heading">Wednesday                                     
                    <label class="pull-right"><input ng-model="newParty.wed_closed" ng-init="checked=false" type="checkbox" class="ng-pristine ng-valid"> closed?</label>
                </div>
                <div class="panel-body">
                    <timepicker ng-model="newParty.wed_start" mousewheel="false" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" class="pull-left"></timepicker>
                    <timepicker ng-model="newParty.wed_end" mousewheel="false" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" class="pull-left col-md-offset-2 "></timepicker>
                </div>
            </div>  
            <div class="panel panel-default">
                <div class="panel-heading">Thursday                                     
                    <label class="pull-right"><input ng-model="newParty.thu_closed" ng-init="checked=false" type="checkbox" class="ng-pristine ng-valid"> closed?</label>
                </div>
                <div class="panel-body">
                    <timepicker ng-model="newParty.thu_start" mousewheel="false" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" class="pull-left"></timepicker>
                    <timepicker ng-model="newParty.thu_end" mousewheel="false" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" class="pull-left col-md-offset-2 "></timepicker>
                </div>
            </div>  
            <div class="panel panel-default">
                <div class="panel-heading">Friday                                     
                    <label class="pull-right"><input ng-model="newParty.fri_closed" ng-init="checked=false" type="checkbox" class="ng-pristine ng-valid"> closed?</label>
                </div>
                <div class="panel-body">
                    <timepicker ng-model="newParty.fri_start" mousewheel="false" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" class="pull-left"></timepicker>
                    <timepicker ng-model="newParty.fri_end" mousewheel="false" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" class="pull-left col-md-offset-2 "></timepicker>
                </div>
            </div>  
            <div class="panel panel-default">
                <div class="panel-heading">Saturday                                     
                    <label class="pull-right"><input ng-model="newParty.sat_closed" ng-init="checked=false" type="checkbox" class="ng-pristine ng-valid"> closed?</label>
                </div>
                <div class="panel-body">
                    <timepicker ng-model="newParty.sat_start" mousewheel="false" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" class="pull-left"></timepicker>
                    <timepicker ng-model="newParty.sat_end" mousewheel="false" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" class="pull-left col-md-offset-2 "></timepicker>
                </div>
            </div>  
            <div class="panel panel-default">
                <div class="panel-heading">Sunday                                     
                    <label class="pull-right"><input ng-model="newParty.sun_closed" ng-init="checked=false" type="checkbox" class="ng-pristine ng-valid"> closed?</label>
                </div>
                <div class="panel-body">
                    <timepicker ng-model="newParty.sun_start" mousewheel="false" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" class="pull-left"></timepicker>
                    <timepicker ng-model="newParty.sun_end" mousewheel="false" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" class="pull-left col-md-offset-2 "></timepicker>
                </div>
            </div>  
            <button type="submit" class="col-md-4 col-md-offset-4 btn btn-primary" ng-disabled="form.$invalid">Add</button>

          </div><!-- / col-md-8 -->


        </div>

        </form>
    </div>
</div>
